:root {
  font-size: 10px;
  --collection-1-brand-yellow: #FEF1DA;
  --collection-1-brand-yellow-dark: #FFA300;
  --collection-1-brand-brown: #4E3E25;
  --collection-1-neutral-grey100: rgba(255, 255, 255, 1);
  --collection-1-neutral-grey200: rgba(234, 234, 234, 1);
  --collection-1-neutral-grey300: rgba(191, 191, 191, 1);
  --collection-1-neutral-grey400: rgba(149, 149, 149, 1);
  --collection-1-neutral-grey500: rgba(106, 106, 106, 1);
  --collection-1-neutral-grey600: rgba(64, 64, 64, 1);
  --collection-1-neutral-grey700: rgba(21, 21, 21, 1);
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--collection-1-neutral-grey100);
}

.PC {
  display: flex;
  flex-direction: column;
  width: 148rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;

}

.PC .container {
  display: flex;
  flex-direction: column;
  min-width: 120rem;
  max-width: 144rem;
  height: 108rem;
  align-items: center;
  justify-content: top;
  position: relative;
  align-self: stretch;
  width: 100%;
}

nav {
  width: 144rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 1rem;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--collection-1-brand-yellow);
  z-index: 0;
  box-sizing: border-box;

}

nav .logo {
  width: 29.5rem;
  height: 5.9rem;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;

}

.icons .cart-icon {
  width: 3.2rem;
  cursor: pointer;
}

.icons .menu-icon {
  width: 3.4rem;
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: right;
  margin-right: 15rem;
  white-space: nowrap;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 1rem 2.5rem;

}

nav ul li a {
  text-decoration: none;
  color: var(--collection-1-brand-brown);
  font-family: Maname;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.096px;
  position: relative;
  padding-bottom: 0.5rem;
  /* 给文字下面留出空间 */
}

nav ul li a::after {
  content: '';
  display: block;
  width: calc(100% + 1rem);
  height: 0.2rem;
  /* 线的高度 */
  background-color: #8f641a;
  /* 线的颜色 */
  position: absolute;
  left: -0.5rem;
  bottom: 0;
  /* 底部对齐 */
  transition: transform 0.5s;
  /* 过渡效果 */
  transform: scaleX(0);
  /* 初始不显示 */
}

nav ul li a:hover::after {
  transform: scaleX(1);
  /* 悬停时显示 */
}

.section {
  display: flex;
  height: 80rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.video-container {
  position: relative;
  /* 使子元素绝对定位相对于视频容器 */
  width: 100%;
  /* 占满父容器宽度 */
  height: 100%;
  /* 占满父容器高度 */
  overflow: hidden;

}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* 强制视频宽度100% */
  height: 100%;
  /* 强制视频高度100% */
  object-fit: cover;
  /* 保持视频比例并裁剪，填满容器 */
  object-position: center;
  /* 确保视频在容器内居中裁剪 */
  align-self: stretch;
  opacity: 0.4;
}



/* 叠加的文字样式 */
.overlay-text-header {
  position: absolute;
  top: 21%;
  left: 38%;
  transform: translate(-50%, -50%);
  /* 将文字从中心向左、向上平移，使其完美居中 */
  color: var(--collection-1-brand-brown);
  /* 文字颜色 */
  font-family: EB Garamond;
  font-size: 6rem;
  /* 文字大小 */
  padding: 10px;
  /* 文字的内边距 */
  white-space: nowrap;
  font-weight: bold;
}

.overlay-text {
  position: absolute;
  /* top: 60%;  */
  /* left: 39%;  */
  /* transform: translate(-50%, -50%); */
  color: var(--collection-1-brand-brown);
  /* 文字颜色 */
  font-family: EB Garamond;
  top: 26rem;
  padding-left: 10rem;
  padding-right: 4rem;
  font-size: 3.8rem;
  /* 文字大小 */
  white-space: normal;
  /* 允许自动换行 */
  max-width: 100%;
  /* 设置最大宽度，根据需要调整 */
  overflow-wrap: break-word;
  /* 在必要时换行 */

}

.PC .footer-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.1rem;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 3.4rem;
  flex: 0 0 auto;
  background-color: transparent;
  background-color: var(--collection-1-brand-yellow);
  gap: 0rem;
  padding-left: 2rem;
  box-sizing: border-box;
}


.footer-1 ul {
  text-align: right;

  white-space: nowrap;
}

.footer-1 ul li {
  list-style: none;
  display: inline-block;
  margin: 1rem 2.5rem;

}

.footer-1 ul li a {
  text-decoration: none;
  color: var(--collection-1-brand-brown);
  font-family: Maname;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.096px;
  position: relative;
  padding-bottom: 0.5rem;
}

.footer-1 ul li a::after {
  content: '';
  display: block;
  width: calc(100% + 1rem);
  height: 0.2rem;
  /* 线的高度 */
  background-color: #8f641a;
  /* 线的颜色 */
  position: absolute;
  left: -0.5rem;
  bottom: 0;
  /* 底部对齐 */
  transition: transform 0.5s;
  /* 过渡效果 */
  transform: scaleX(0);
  /* 初始不显示 */
}

.footer-1 ul li a:hover::after {
  transform: scaleX(1);
  /* 悬停时显示 */
}

.PC .footer-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 12rem;
  flex: 0 0 auto;
  background-color: transparent;
  background-color: var(--collection-1-brand-brown);
  padding-left: 9rem;
  padding-right: 9rem;
  box-sizing: border-box;
}

.footer-2 p {
  font-size: 1.8rem;
  /* 16px 转换为 rem */
  font-family: Maname;
  color: white;
  /* 文字颜色根据需求调整 */
  margin: 0;
  /* 移除默认的段落外边距 */
}




.PC .footer-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 2.5rem;
  flex: 0 0 auto;
  background-color: var(--collection-1-brand-brown);
  box-sizing: border-box;
}

.footer-3 p {
  font-size: 1.5rem;
  /* 16px 转换为 rem */
  font-family: Maname;
  color: white;
  /* 文字颜色根据需求调整 */
  margin: 0;
  /* 移除默认的段落外边距 */
}

.facebook-icon {
  width: 3rem;
  cursor: pointer;
}

.instagram-icon {
  width: 2.9rem;
  cursor: pointer;
}

.twitter-icon {
  width: 2.9rem;
  cursor: pointer;
}